<footer style="background-color: grey; padding: 10px;">
  <nav class="navbar fixed-bottom navbar-dark bg-dark" style="bottom: 0; height: 10%; width: 100%;">
    <h6 class="display-6 navbar-text" style="color: #ffffff; margin: 0;">&copy;2023 All rights reserved</h6>
  </nav>
</footer>
