
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
<link rel="stylesheet" href="/style.css">
    <!--<img src="img/logo.png" alt="logo">-->

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Me</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 20px;
            }
    
            h1 {
                text-align: center;
                font-size: 28px;
                color: red;
                margin-bottom: 20px;
            }
    
            img {
                display: block;
                margin: 0 auto;
                width: 200px;
                height: auto;
                border-radius: 10%;
            }
    
            p {
                font-size: 18px;
                line-height: 1.5;
                text-align: center;
                background-color: #e6ff04;
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0 2px 4px rgba(187, 82, 82, 0.1);
                color: #333;
            }

        </style>
    </head>
    <body>
        <h1>About Me</h1>
    
        <img src="img/picturess.jpg" alt="myself">
    
        <p>
            My name is Abhishek Pannu. I am a passionate and dedicated professional seeking new opportunities. With a strong background in CSE, I am committed to delivering exceptional results and driving success. I have 2 of experience customer service field. I believe in continuous learning and staying up-to-date with the latest industry trends. I thrive in collaborative environments and enjoy working on challenging projects. Thank you for taking the time to learn more about me.
        </p>
        <p>
            HERE IS MY RESUME
            <br>
            <a href="resume.pdf"target="_blank">Download PDF Version of Resume</a>
        </p>
        
    </body>
    </html>
    

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>


      <link rel="stylesheet" href="/style.css">

   