
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

    <main class="container" style="padding: 20px;">
        <h1 style="text-align: center;">Your Services</h1>
      
        <div style="display: flex; justify-content: space-around; margin-top: 50px;">
            <div style="text-align: center; background-color: #746e6e56; border-radius: 10px; padding: 20px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); margin-right: 20px;">
                <img src="img/service3.jpg" alt="General Programming" style="width: 200px; height: 200px; object-fit: cover; border-radius: 50%;">
                <h2 style="font-size: 24px; margin-top: 20px;">General Programming</h2>
                <p style="font-size: 18px;">Offering a wide range of programming services to meet your specific needs.</p>
            </div>
          
            <div style="text-align: center; background-color: #746e6e56; border-radius: 10px; padding: 20px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); margin-right: 20px;">
                <img src="img/service1.jpg" alt="Web Development" style="width: 200px; height: 200px; object-fit: cover; border-radius: 50%;">
                <h2 style="font-size: 24px; margin-top: 20px;">Web Development</h2>
                <p style="font-size: 18px;">Creating stunning and responsive websites tailored to your business requirements.</p>
            </div>
          
            <div style="text-align: center; background-color: #746e6e56; border-radius: 10px; padding: 20px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
                <img src="img/service2.jpg" alt="Mobile Apps" style="width: 200px; height: 200px; object-fit: cover; border-radius: 50%;">
                <h2 style="font-size: 24px; margin-top: 20px;">Mobile Apps</h2>
                <p style="font-size: 18px;">Developing innovative mobile applications for Android and iOS platforms.</p>
            </div>
        </div>
    </main>
    
    

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   